<section id="about" class="page">
  <div class="container">
    <div class="content text-center">
      <div class="heading">
        <h2>About</h2>
        <div class="border"></div>
      </div>
      
      <div class="row">
        <div class="col-xs-6 col-md-4 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
          <div class="profile-photo">
            <img class="img-responsive" src="assets/me-logo.png" alt="" width="200" height="200">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
          <div class="bio">
            <h2>Chip Eyler</h2>
            <h4>Web Developer</h4>
            <div class="border"></div>
            <p class="mate">Ohio native, husband, dad, brother, friend, rubyist/web developer, musician, maker, hacker, bearded mad scientist, traffic light owner, dreamer, misfit, idea guy & adventurer</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
          <div class="bio">
            <i class="fa fa-road"></i> 
            <h3>Journey</h3>
            <div class="border"></div>
            <p class="mate">I cannonballed into the rabbit hole of web development in late 2012. I'm now concentrating my efforts on test-driven & maintainable development with both Ruby & RoR along with learning AngularJS. My intentions are to build amazing things and to extend myself further into web, mobile & functional programming.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
          <div class="bio">
            <i class="fa fa-bullseye"></i>
            <h3>Vision</h3>
            <div class="border"></div>
            <p class="mate">Help people, teams & businesses by building friendships, influencing creative excellence, driving collaboration, demonstrating hard work, empowering community & fueling adventure.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
          <div class="bio">
            <i class="fa fa-cog"></i>
            <h3>Toolbelt</h3>
            <div class="border"></div>
            <p class="mate">Ruby on Rails, RSpec, Sinatra, CoffeeScript, jQuery, CSS/SASS/SCSS, HTML5, basic PHP, Bootstrap 3, PostgreSQL, Heroku, Amazon EC2, Zurb Foundation, APIs (Twitter, Mailgun, etc), New Relic, Google Analytics, Adobe Creative Suite & continuing to expand..</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
          <div class="bio">
            <i class="fa fa-graduation-cap"></i>
            <h3>Career</h3>
            <div class="border"></div>
            <p class="mate">My 2014 priority is to find & commit to a full-time Ruby on Rails web development role in the Cincinnati area where I'd like to contribute and continue honing my skills with the right team. If you're seeking a candidate who can learn while on the move and adapt quickly, Let's talk.</p>
          </div>
        </div>            
      </div>

    </div>
  </div>
</section>