<section id="contact" class="page">
  <div class="container">
    <div class="content cover text-center">
      <div class="heading">
        <h2>Getting in touch.</h2>
        <div class="border"></div>
        <p>My 2014 priority is to find & commit to a full-time Ruby on Rails web development role in the Cincinnati area where I'd like to contribute and continue honing my skills with the right team. If you're seeking a candidate who can learn while on the move and adapt quickly, Let's talk.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 animated hiding" data-animation="fadeInRight" data-delay="600">
          <i class="fa fa-map-marker fa-3x"></i>
          <a href="https://www.google.com/maps/place/Wilmington,+OH+45177/@39.4440688,-83.8272263,15z/data=!4m2!3m1!1s0x8840c6da6816c6ed:0x5f54986697bbd03">Wilmington, Ohio</a>
        </div>
        <div class="col-lg-4 animated hiding" data-animation="fadeInDown" data-delay="300">
          <i class="fa fa-phone fa-3x"></i>
          <a href="tel:9876543210">(123) 456-7890</a>
        </div>
        <div class="col-lg-4 animated hiding" data-animation="fadeInLeft" data-delay="600">
          <i class="fa fa-envelope fa-3x"></i>
          <a href="mailto:john.doe@mail.com">freqnlabs@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>