<div class="loader">
  <div class="fading-line"></div>
</div>

<section id="home" class="page">
  <div class="container">
    <div class="content cover text-center">
      <div class="row">
        <div class="col-lg-12">
          <%= render 'layouts/form' %>
        </div>
      </div>
    </div>
  </div>
</section>